*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

#clock{
    width: 40vw;
    height: 40vw;
    background: url("clock-1.png") no-repeat;
    background-size: 100%;
    margin: auto;
    margin-top: 5%;
    position: relative;
}

#hour, #minute, #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour{  
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    /* display: none; */
}
#minute{ 
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    /* display: none; */
}   


#second{  
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    /* display: none; */
}  

